name: Format Golang

on:
  - pull_request

jobs:
    format_golang:
      name: Format Golang
      runs-on: ubuntu-latest
      steps:
        - name: Setup Golang
          uses: actions/setup-go@v3
          with:
            go-version: 1.17

        - name: Checkout code
          uses: actions/checkout@v3

        - name: Format Glang 
          run: ./scripts/go_fmt.sh
